<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="metro4:init" content="false">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  </head>
  <body>
    <div class="container" id="app">
        <H1>Run faster test</H1>
        <div class="form-group">
            <span>User Name:</span><input v-model="user"/>
            <button class="button primary mini" v-on:click="join">Join!</button>
            <button class="button primary mini" :disabled="!canStart" v-on:click="start">Start</button>
        </div>
        <br>
        <div>
            Users: <span v-for="u in users">{{u}}&nbsp; &nbsp; </span>
        </div>
        <br>
        <div>
            <table class="table table-border striped">
                <thead>
                    <tr>
                        <th width="100px">User</th>
                        <th>Cards</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(value, key) in state">
                        <td>
                            <span v-if="isMyTurn(key)">*</span>{{key}}
                        </td>
                        <td>
                            <div class="tiles-grid">
                              <div v-for="c in value" >
                                  <div data-size="small" data-role="tile" class="bg-green" v-bind:class="{selected: c.selected}" v-on:click="selectCard(c)">
                                    <br>  
                                    <h2>{{c.suit}}:{{c.face}} </h2>
                                  </div>  
                              </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>

    <!-- jQuery first, then Metro UI JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="build/test.bundle.js" charset="utf-8"></script>

  </body>
</html>